@using OnlineLearning.Models.Domains.CourseModels
@model List<Course>
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
       
                @for (int i = 0; i < Model.Count; i++)
                {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].CourseName</td>
                    <td>@Model[i].Description</td>
                    <td>$@Model[i].Price</td>
                    <td>@(Model[i].Discount ?? 0)%</td>
                    <td>@(Model[i].Language?.LanguageName ?? "N/A")</td>
                    <td>@(Model[i].Level?.LevelName ?? "N/A")</td>
                    <td>
                        @foreach (var courseType in Model[i].CourseCategories)
                        {
                        <span>@courseType.Category.CategoryName</span>

                        <br />
                        }
                    </td>
                    <td>
                        @foreach (var image in Model[i].CourseImageUrls)
                        {
                        <img src="@image.Url" alt="Course Image" width="125" height="125" />
                        }
                    </td>
                    <td>
                        <a asp-controller="Course" asp-action="Edit" asp-route-id="@Model[i].CourseId" class="btn btn-warning btn-sm">✏ Edit</a>
                        <a asp-controller="Course" asp-action="Delete" asp-route-id="@Model[i].CourseId" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?')">🗑 Delete</a>
                    </td>
                </tr>
                }
            </tbody>
            </table>

            </div>



    </body>
</html>
